$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$space: 8px;

$grey: #797687;
$black: #2b2350;
$white: #FFF;
$salmon: #FA8D70;
$pink: #fa7070;
$purple: #5E67E1;
$green: #1AC958;
$fushia: #FB2BE0;

$font-color: rgba($grey, .5);