header {
    height: 980px;
    color: #FFF;
    background-image:
            url('../img/shape.png'),
            url('../img/circle2.png'),
            linear-gradient(to right, #FA7170 35%, $salmon);
    background-position: top right -55%, top left -63%, center;
    background-size: 60%, 50%, 100%;
    background-repeat: no-repeat, no-repeat;
    text-align: center;
    #header-line {
        transition: background-color 1s ease-in-out;
        z-index: 3;
        position: fixed;
        top: 0;
        width: 100%;
        height: $space * 8;

            &.visible {
                background-color: rgba($white, .95);
            }
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .brand {
            z-index: 4;
            display: flex;
            justify-content: space-between;
            padding-top: $space * 2;
            padding-bottom: $space * 5;
            position: fixed;
            left: 0;
            margin-bottom: 10em;
            width: 100%;

            .logo {
                position: absolute;
                left: 50%;
                top: 60%;
                transform: translate(-50%, -50%);
                height: 100%;
                width: 100%;
                background-image: url('../img/main-logo.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 136px;
                text-align: center;
                @media screen and (max-width: $bp-sm){
                    background-size: 96px;
                }
            }
        }

        .scrolled {
            .brand {
                .logo {
                    background-image: url('../img/sticky-logo.png');
                    background-size: 136px;
                }
                .menu {
                    color: $black;
                }
            }
        }

        .intro {
            margin: $space * 5 auto;

            p {
                color: $white;
                font-size: 18px;
            }

            h1 {
                margin-top: 3em;
                font-size: 50px;
                line-height: 60px;
            }

            .inline {
                display: flex;
                justify-content: center;
                margin: 5em auto;
                button {
                    font-size: 16px;
                }
                a {
                    color: $white;
                    margin: auto 2.5em;
                }
            }
        }

        .mockup-image {
            left: 50%;
            top: -5vh;
            transform: translate(-50%, 15%);
            position: relative;
            max-width: 800px;
            animation: float3 5s ease;

            @keyframes float3 {
                0% {
                    transform: translate(-50%, 15%);
                }
                50% {
                    transform: translate(-50%, 30%);
                }
                100% {
                    transform: translate(-50%, 15%);
                }
            }
            img {
                border-radius: 15px;
                @extend %box-shadow;
            }

            @media screen and (min-width: $bp-sm) {
                width: 80vw;
            }
        }
    }
}